<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Usr" value="TheMailAddressWithWhichToSend"/>
    <add key="Pwd" value="ItsPassword"/>
    <add key="MailTitle" value="SomeMailTitleToDefaultTo"/>
    <add key="MailTo" value="Some|Mail|To|Addresses"/>
    <add key="ExecutablesToRun" value="%windir%/System32/notepad.exe|SomeOtherExecutable|SeparatedWithPipes"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>